<header class="navbar">
    <h1><a href="/" class="site-title">My Blog</a></h1>
    <nav>
        <a href="/" class="nav-link">Home</a>
        <a href="/posts/new" class="nav-link">Create Post</a>
    </nav>
</header>
